In [ ]:
import pandas as pd

In [ ]:
Data = pd.read_csv('Ecommerce Purchases.csv')

In [ ]:
Data.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

In [ ]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
Data['Purchase Price'].max()

99.99

In [ ]:
Data['Purchase Price'].min()

0.0

In [ ]:
Data['Purchase Price'].mean()

50.34730200000025

In [ ]:
Data[Data['Job'] == 'Engineer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           0 non-null      object
 1   Lot               0 non-null      object
 2   AM or PM          0 non-null      object
 3   Browser Info      0 non-null      object
 4   Company           0 non-null      object
 5   Credit Card       0 non-null      int64
 6   CC Exp Date       0 non-null      object
 7   CC Security Code  0 non-null      int64
 8   CC Provider       0 non-null      object
 9   Email             0 non-null      object
 10  Job               0 non-null      object
 11  IP Address        0 non-null      object
 12  Language          0 non-null      object
 13  Purchase Price    0 non-null      float64
dtypes: float64(1), int64(2), object(11)
memory usage: 0.0+ bytes

In [ ]:
Data[Data['Job'] == 'Doctor'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           0 non-null      object
 1   Lot               0 non-null      object
 2   AM or PM          0 non-null      object
 3   Browser Info      0 non-null      object
 4   Company           0 non-null      object
 5   Credit Card       0 non-null      int64
 6   CC Exp Date       0 non-null      object
 7   CC Security Code  0 non-null      int64
 8   CC Provider       0 non-null      object
 9   Email             0 non-null      object
 10  Job               0 non-null      object
 11  IP Address        0 non-null      object
 12  Language          0 non-null      object
 13  Purchase Price    0 non-null      float64
dtypes: float64(1), int64(2), object(11)
memory usage: 0.0+ bytes

In [ ]:
Data[Data['Job'] == 'Engineer, agricultural'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 60 to 9403
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           16 non-null     object
 1   Lot               16 non-null     object
 2   AM or PM          16 non-null     object
 3   Browser Info      16 non-null     object
 4   Company           16 non-null     object
 5   Credit Card       16 non-null     int64
 6   CC Exp Date       16 non-null     object
 7   CC Security Code  16 non-null     int64
 8   CC Provider       16 non-null     object
 9   Email             16 non-null     object
 10  Job               16 non-null     object
 11  IP Address        16 non-null     object
 12  Language          16 non-null     object
 13  Purchase Price    16 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.9+ KB

In [ ]:
Data[Data['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [ ]:
Data[Data['Language']=='fr'].count()

Address             1097
Lot                 1097
AM or PM            1097
Browser Info        1097
Company             1097
Credit Card         1097
CC Exp Date         1097
CC Security Code    1097
CC Provider         1097
Email               1097
Job                 1097
IP Address          1097
Language            1097
Purchase Price      1097
dtype: int64

In [ ]:
Data[Data['Language']=='el'].count()

Address             1137
Lot                 1137
AM or PM            1137
Browser Info        1137
Company             1137
Credit Card         1137
CC Exp Date         1137
CC Security Code    1137
CC Provider         1137
Email               1137
Job                 1137
IP Address          1137
Language            1137
Purchase Price      1137
dtype: int64

In [ ]:
Data[Data['CC Provider'] =='VISA 16 digit'].count()

Address             1715
Lot                 1715
AM or PM            1715
Browser Info        1715
Company             1715
Credit Card         1715
CC Exp Date         1715
CC Security Code    1715
CC Provider         1715
Email               1715
Job                 1715
IP Address          1715
Language            1715
Purchase Price      1715
dtype: int64

In [ ]:
Data[Data['CC Provider'] =='VISA 13 digit'].count()

Address             777
Lot                 777
AM or PM            777
Browser Info        777
Company             777
Credit Card         777
CC Exp Date         777
CC Security Code    777
CC Provider         777
Email               777
Job                 777
IP Address          777
Language            777
Purchase Price      777
dtype: int64

In [ ]:
Data['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
Data['Job'].value_counts().head(3)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Name: Job, dtype: int64

In [ ]:
Data['Purchase Price'].value_counts().max()

7

In [ ]:
Data[Data['Purchase Price'] == Data['Purchase Price'].max()]['Email']

2092                  Pitts Group
7807    Porter, Johnson and Pratt
Name: Company, dtype: object